* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(background.png);
    background-position: center;
    background-size: cover;
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    display: block;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style: none;
    display: inline-flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: color 0.3s ease;
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 5px;

}
nav ul li a:hover {
    color: rgb(66, 184, 226); 
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
    margin-top: 200px;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: white;
    font-size: 100px;
}

p {
    color: white;
    font-size: 11px;
    line-height: 15px;
}

button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    font-weight: bold;
}
button:hover {
    background: rgb(19, 146, 196);
    color: #fff;
}
.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(pic-1.png);
}

.card2 {
    background-image: url(pic-2.png);
}

.card3 {
    background-image: url(pic-3.png);
}

.card4 {
    background-image: url(pic-4.png);
}

.card:hover {
    transform: translateY(-10px);
}

h5 {
    color: #680a0a;
    text-shadow: 0 0 5px #ebe2e2;
}
